html {
    background-color: black;
    font-family: Helvetica, sans-serif;
    min-height: 100%;
}

main {
    background-color: black;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 20em;
    height: 40em;
    margin: auto;
    border-radius: 60px;
    padding: 1.25em;
    border: 2.5px solid white;
}

.display {
    width: 100%;
    min-height: 30%;
    color: white;
    text-align: right;
    bottom: 0; 
    right: 0;
    display: flex;
    flex-direction: column;
}

.display .spacer {
    height: 50%;
}

.display .current {
    height: 50%;
    position: relative;
}

.display .current #current-text {
    padding-top: .25em;
    font-size: 5em;
}

.buttons {
    display: grid;
    height: 70%;
    min-width: 100%;
    gap: .5em;
    grid-template-rows: repeat(5, 72px);
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 1.5em;
}

button {
    border-radius: 200px;
        /* height: 75px;
        width: 75px; */
    font-size: 5vmin;
    /* min-height: 100%; */
    width: 100%;
    /* height: 100%; */
    border: none;
}

#zero {
    grid-column: span 2;
}

.special-chars {
    background-color: lightgray;
    transition: 0.5s;
}

.special-chars:hover {
    background-color: #fff;
}

.operator {
    background-color: orange;
    font-size:7.5vmin;
    color: #eee;
    transition: 0.5s;
}

.operator:hover {
    background-color: #fdc63c; 
}

.operator.active {
    background-color: #eee;
    color: orange;
}

.equals {
    background-color: orange;
    font-size: 2.5em;
    color: #eee;
    transition: 0.5s;
}

.equals:hover {
    background-color: #fdc63c; 
}

.numbers {
    background-color: #444;
    color: white;
    transition: .5s;
}

.numbers:hover {
    background-color: #666;
}

.home-bar {
    background-color: lightgray;
    width: 40%;
    height: 1%;
    margin: auto;
    border-radius: 10px;
    margin-bottom: -0.5em;
}

@media only screen and (max-height: 900px) {
    /* .display .current #current-text {
        margin-bottom: -.5em;
    }

    .main {
        gap: 0em;
    } */

    /* TODO: FIX MOBILE VIEW!!! */
}



